<p>
	<span><%= order_line.article.title %></span>
	<span><%= order_line.quantity %> </span>
	<span><%= order_line.article_price %></span>
	<span><%= order_line.article_price*order_line.quantity %></span>
</p>