<!DOCTYPE html>
<html>
<head>
  <title>Invoicing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<% if signed_in? %>
		<ul>
			<li><%= link_to 'Articles', articles_path %></li>
			<li><%= link_to 'Orders', orders_path  %></li>
			<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
		</ul>
		<% end %>
	</header>

<%= yield %>

</body>
</html>
